:root {
    --background-color: #193366;
}

.light-mode {
    background-color: #fff;
    color: #000;
}

.dark-mode {
    background-color: var(--background-color);
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--background-color); */
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
}